name: badges deployment

on:
  push:
    branches:
      - "main"

jobs:
  deploy:
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.0
          bundler-cache: true

      - name: Setup SSH for match
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.MATCH_DEPLOY_KEY }}

      - name: Deploy to TestFlight
        run: |
          bundle exec fastlane ios beta
        env:
          APPSTORE_KEY_ID: ${{ secrets.APPSTORE_KEY_ID }}
          APPSTORE_ISSUER_ID: ${{ secrets.APPSTORE_ISSUER_ID }}
          APPSTORE_P8: ${{ secrets.APPSTORE_P8 }}

          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
          MATCH_REPOSITORY: ${{ secrets.MATCH_REPOSITORY }}

          GITHUB_REPOSITORY: ${{ github.repository }}
